@font-face {
    font-family: 'PT Serif Bold';
    src: url('PTSerif-Bold.ttf');
}
@font-face {
    font-family: 'PT Serif Bold Italic';
    src: url('PTSerif-BoldItalic.ttf');
}
@font-face {
    font-family: 'PT Serif Italic';
    src: url('PTSerif-Italic.ttf');
}
@font-face {
    font-family: 'PT Serif Regular';
    src: url('PTSerif-Regular.ttf');
}