/*
    Each VueJs component has it's own CSS custom class, this can be lv-con-pg-home or lv-con-sect-home, where:
    1. lv-con-pg-home refers to the home page container;
    2. lv-con-sect-home refers to the home page section container;
*/
/***** IMPORT CSS STYLES *****/
/***** FRONT VIEW CSS COMPONENTS *****/
/***** FRONT VIEW CSS COMPONENTS *****/
/* 
    Import here all the CSS components for the front view application.
    Here you may include components like:
    - sections;
    - elements (buttons, modals, etc.);
    - errors;
*/
/***** UTILITIES FUNCTIONS & MIXINS *****/
/* 
    Import here all the utilities functions and mixins.
    Here you may include:
    - flexbox;
    - fonts;
    - global functions (pixels to rem convertor);
    - global variables (base padding and margin dimensions);
    - themes
*/
@font-face {
  font-family: "OpenSans Condensed Bold";
  src: url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light";
  src: url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light Italic";
  src: url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold";
  src: url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold Italic";
  src: url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Italic";
  src: url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Regular";
  src: url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../../../../../fonts/Roboto-Black.ttf") format("ttf"), url("../../../../../fonts/Roboto-Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black Italic";
  src: url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../../../../fonts/Roboto-Bold.ttf") format("ttf"), url("../../../../../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../../../../../fonts/Roboto-Italic.ttf") format("ttf"), url("../../../../../fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../../../../../fonts/Roboto-Light.ttf") format("ttf"), url("../../../../../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light Italic";
  src: url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../../../../fonts/Roboto-Medium.ttf") format("ttf"), url("../../../../../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../../../../fonts/Roboto-Regular.ttf") format("ttf"), url("../../../../../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../../../../../fonts/Roboto-Thin.ttf") format("ttf"), url("../../../../../fonts/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/***** COLOR THEME 1: CLOSE TO NATURE *****/
/**** COLOR THEME 2: LAND OF CLEAN *****/
/**** COLOR THEME 3: MINIMAL YET WARM *****/
.navbar {
  background-color: #D8C3A5 !important;
  user-select: none;
}
.navbar-nav .nav-item .nav-link {
  color: #000000;
}
.navbar-nav .nav-item .nav-link span {
  color: #000000;
  font-weight: bold;
}
.navbar-nav .nav-item .dropdown-menu {
  clip-path: polygon(50% 0%, 56% 7%, 100% 7%, 100% 100%, 0 100%, 0 7%, 42% 7%);
  padding: 1rem 0rem 0rem 0rem;
  background-color: #D8C3A5;
  border-top: 0rem !important;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child:active, .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child:focus, .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child:hover {
  background-color: #D8C3A5 !important;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item span {
  color: #000000;
  font-weight: bold;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:active, .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #EAE7DC !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.footer--container {
  height: 9.375rem;
}
.footer__title {
  margin-bottom: 0rem !important;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.footer__project-info, .footer__social-link, .footer__copyright {
  margin-bottom: 0rem !important;
  text-align: center;
  font-size: 0.875rem;
}

.google-data-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** FRONT VIEW CSS PAGES *****/
/***** FRONT VIEW CSS PAGES *****/
/* Import here all the CSS pages for the front view application. */
/***** UTILITIES FUNCTIONS & MIXINS *****/
/* 
    Import here all the utilities functions and mixins.
    Here you may include:
    - flexbox;
    - fonts;
    - global functions (pixels to rem convertor);
    - global variables (base padding and margin dimensions);
    - themes
*/
@font-face {
  font-family: "OpenSans Condensed Bold";
  src: url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light";
  src: url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light Italic";
  src: url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold";
  src: url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold Italic";
  src: url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Italic";
  src: url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Regular";
  src: url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../../../../../fonts/Roboto-Black.ttf") format("ttf"), url("../../../../../fonts/Roboto-Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black Italic";
  src: url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../../../../fonts/Roboto-Bold.ttf") format("ttf"), url("../../../../../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../../../../../fonts/Roboto-Italic.ttf") format("ttf"), url("../../../../../fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../../../../../fonts/Roboto-Light.ttf") format("ttf"), url("../../../../../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light Italic";
  src: url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../../../../fonts/Roboto-Medium.ttf") format("ttf"), url("../../../../../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../../../../fonts/Roboto-Regular.ttf") format("ttf"), url("../../../../../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../../../../../fonts/Roboto-Thin.ttf") format("ttf"), url("../../../../../fonts/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/***** COLOR THEME 1: CLOSE TO NATURE *****/
/**** COLOR THEME 2: LAND OF CLEAN *****/
/**** COLOR THEME 3: MINIMAL YET WARM *****/
/***** CSS STYLES DASHBOARD PAGE *****/
/***** CSS PARTIAL STYLES FOR EQUIPMENT LIST PAGE *****/
/***** CSS STYLES EQUIPMENT LIST PAGE *****/
.equipments__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.equipments__header-description-title, .equipments__header-description-paragraph {
  margin: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.equipments__header-description-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.equipments__header-description-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  width: 12.5rem;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .equipments__header-description-button .btn {
    width: 11.5833333333rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__header-description-button .btn {
    width: 14.375rem;
  }
}
.equipments__header-description-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
  color: #FFFFFF;
}
.equipments__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
}
.equipments__main-content .container-table .table {
  margin-bottom: 0rem;
  width: 75rem;
}
@media only screen and (max-width: 1200px) {
  .equipments__main-content .container-table .table {
    width: 62rem;
  }
}
@media only screen and (max-width: 992px) {
  .equipments__main-content .container-table .table {
    width: 48rem;
  }
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table {
    width: 34.75rem;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .container-table .table {
    width: 25.3125rem;
  }
}
@media only screen and (max-width: 425px) {
  .equipments__main-content .container-table .table {
    width: 22.1875rem;
  }
}
@media only screen and (max-width: 375px) and (max-width: 320px) {
  .equipments__main-content .container-table .table {
    width: 19.375rem;
  }
}
.equipments__main-content .container-table .table--standard {
  border-collapse: collapse;
  table-layout: fixed;
}
.equipments__main-content .container-table .table .table-head, .equipments__main-content .container-table .table .table-body {
  padding: 0.375rem;
  border: 0.0625rem solid #CCCCCC;
}
.equipments__main-content .container-table .table .table-head__cell, .equipments__main-content .container-table .table .table-body__cell {
  padding-top: 0.125rem;
  padding-right: 0.25rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  height: 3.125rem;
}
@media only screen and (max-width: 1200px) {
  .equipments__main-content .container-table .table .table-head__cell, .equipments__main-content .container-table .table .table-body__cell {
    height: 5rem;
  }
}
@media only screen and (max-width: 992px) {
  .equipments__main-content .container-table .table .table-head__cell, .equipments__main-content .container-table .table .table-body__cell {
    height: 6.25rem;
  }
}
.equipments__main-content .container-table .table .table-head__typography, .equipments__main-content .container-table .table .table-body__typography {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  padding: 0rem;
  height: 2.125rem;
  width: 100%;
  font-size: 1rem;
  text-indent: 0rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
}
@media only screen and (max-width: 1200px) {
  .equipments__main-content .container-table .table .table-head__typography, .equipments__main-content .container-table .table .table-body__typography {
    height: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .equipments__main-content .container-table .table .table-head__typography, .equipments__main-content .container-table .table .table-body__typography {
    height: 5.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-head {
    display: none !important;
  }
}
.equipments__main-content .container-table .table .table-head__cell {
  border: 0.0625rem solid #808080;
  background-color: #333333;
  color: #FFFFFF;
  font-weight: bold;
}
.equipments__main-content .container-table .table .table-head__typography {
  font-size: 1.125rem;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block !important;
    border-width: 0rem;
    padding: 0rem;
  }
}
.equipments__main-content .container-table .table .table-body__cell {
  border: 0.0625rem solid #808080;
  background-color: #FFFFFF;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-body__cell:before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    border-right-width: 0.0625rem;
    border-right-style: solid;
    border-right-color: #808080;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    height: 6.25rem;
    width: 30%;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .container-table .table .table-body__cell:before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 50%;
  }
}
.equipments__main-content .container-table .table .table-body__typography {
  height: 2.25rem;
  font-size: 1.125rem;
  font-weight: normal;
}
@media only screen and (max-width: 1200px) {
  .equipments__main-content .container-table .table .table-body__typography {
    height: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .equipments__main-content .container-table .table .table-body__typography {
    height: 5.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-body__typography {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    height: 3.125rem;
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .container-table .table .table-body__typography {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .container-table .table .table-body__typography {
    text-align: center;
  }
}
.equipments__main-content .container-table .table .table-body .table-body-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem !important;
  margin-right: 0rem;
  margin-bottom: 0.5rem !important;
  margin-left: 0rem;
  height: auto;
}
@media only screen and (max-width: 1200px) {
  .equipments__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .equipments__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 50%;
  }
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn {
  padding-top: 0.125rem;
  padding-right: 0.25rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn__text {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  user-select: none;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--success, .equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--warning, .equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--danger {
  border-width: 0rem;
  text-decoration: none;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--success {
  color: #000000;
  background-color: #28A745;
  border-color: #28A745;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--warning {
  color: #000000;
  background-color: #FFC107;
  border-color: #FFC107;
}
.equipments__main-content .container-table .table .table-body .table-body-form__actions__btn--danger {
  color: #000000;
  background-color: #DC3545;
  border-color: #DC3545;
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table .table-body tr td {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .equipments__main-content .container-table .table .table-body tr td:nth-of-type(1):before {
    content: "EQUIPMENT ID";
  }
  .equipments__main-content .container-table .table .table-body tr td:nth-of-type(2):before {
    content: "EQUIPMENT DESCRIPTION";
  }
  .equipments__main-content .container-table .table .table-body tr td:nth-of-type(3):before {
    content: "EQUIPMENT DATE";
  }
  .equipments__main-content .container-table .table .table-body tr td:nth-of-type(4):before {
    content: "ACTIONS";
  }
}
@media only screen and (max-width: 768px) {
  .equipments__main-content .container-table .table table, .equipments__main-content .container-table .table thead, .equipments__main-content .container-table .table tbody, .equipments__main-content .container-table .table th, .equipments__main-content .container-table .table td, .equipments__main-content .container-table .table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block !important;
  }
}
.equipments__main-content .pagination {
  margin-bottom: 0rem !important;
}
.equipments__main-content .pagination .page-item {
  width: 2.884375rem;
  border-style: 0rem solid #808080;
}
@media only screen and (max-width: 576px) {
  .equipments__main-content .pagination .page-item {
    width: 1.9471153846rem;
  }
}
@media only screen and (max-width: 425px) {
  .equipments__main-content .pagination .page-item {
    width: 1.7067307692rem;
  }
}
@media only screen and (max-width: 375px) and (max-width: 320px) {
  .equipments__main-content .pagination .page-item {
    width: 1.4903846154rem;
  }
}
.equipments__main-content .pagination .page-item .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #808080;
  color: #000000;
  font-weight: bold;
}
@media only screen and (max-width: 425px) {
  .equipments__main-content .pagination .page-item .page-link {
    font-weight: normal;
  }
}
.equipments__main-content .pagination .page-item .page-link:hover {
  background-color: #9AC2FE;
}
.equipments__main-content .pagination .page-item .page-link {
  border-radius: 0rem !important;
}
.equipments__main-content .pagination .page-item.active .page-link {
  color: #FFFFFF;
}
.equipments-create-record__header-description, .equipments-show-record__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.equipments-create-record__header-description-title, .equipments-show-record__header-description-title {
  margin: 0rem;
  text-align: center;
}
.equipments-create-record__header-description-paragraph, .equipments-show-record__header-description-paragraph {
  text-align: center;
}
.equipments-create-record__header__form, .equipments-create-record__header__body, .equipments-show-record__header__form, .equipments-show-record__header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 320px) {
  .equipments-create-record__header__form, .equipments-create-record__header__body, .equipments-show-record__header__form, .equipments-show-record__header__body {
    height: auto;
  }
}
.equipments-create-record__form .container-form .input-group {
  margin-bottom: 1.25rem;
}
.equipments-create-record__form .container-form .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.equipments-create-record__form .container-form .input-group .input-sensor-id, .equipments-create-record__form .container-form .input-group .input-sensor-description, .equipments-create-record__form .container-form .input-group .input-sensor-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}
.equipments-create-record__form .container-form .input-group .form-control {
  margin-left: 0rem !important;
  font-size: 1.125rem;
  height: 3.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.equipments-create-record__form .container-form .input-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipments-create-record__form .container-form .input-group-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
}
.equipments-create-record__form .container-form .input-group-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
}
@media only screen and (max-width: 576px) {
  .equipments-create-record__form .container-form {
    width: 29.0625rem;
  }
}
@media only screen and (max-width: 475px) {
  .equipments-create-record__form .container-form {
    width: 25.9375rem;
  }
}
@media only screen and (max-width: 375px) {
  .equipments-create-record__form .container-form {
    width: 19.375rem;
  }
}
@media only screen and (max-width: 320px) {
  .equipments-create-record__form .container-form {
    width: 18.75rem;
  }
}
.equipments-edit-record__header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.equipments-edit-record__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.equipments-edit-record__header-description-title, .equipments-edit-record__header-description-paragraph {
  margin: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.equipments-edit-record__header-description-paragraph {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .equipments-edit-record__header-description-paragraph {
    width: 80%;
  }
}
.equipments-edit-record__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
@media only screen and (max-width: 320px) {
  .equipments-edit-record__form {
    height: auto;
  }
}
.equipments-edit-record__form .container-form {
  width: 37.5rem;
}
.equipments-edit-record__form .container-form .input-group {
  margin-bottom: 1.25rem;
}
.equipments-edit-record__form .container-form .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.equipments-edit-record__form .container-form .input-group .input-sensor-id, .equipments-edit-record__form .container-form .input-group .input-sensor-description, .equipments-edit-record__form .container-form .input-group .input-sensor-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}
.equipments-edit-record__form .container-form .input-group .input-sensor-notes {
  resize: none;
  height: 15.625rem !important;
}
.equipments-edit-record__form .container-form .input-group .form-control {
  margin-left: 0rem !important;
  font-size: 1.125rem;
  height: 3.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.equipments-edit-record__form .container-form .input-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.equipments-edit-record__form .container-form .input-group-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
}
.equipments-edit-record__form .container-form .input-group-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
}
@media only screen and (max-width: 576px) {
  .equipments-edit-record__form .container-form {
    width: 29.0625rem;
  }
}
@media only screen and (max-width: 475px) {
  .equipments-edit-record__form .container-form {
    width: 25.9375rem;
  }
}
@media only screen and (max-width: 375px) {
  .equipments-edit-record__form .container-form {
    width: 19.375rem;
  }
}
@media only screen and (max-width: 320px) {
  .equipments-edit-record__form .container-form {
    width: 18.75rem;
  }
}

/***** CSS PARTIAL STYLES FOR EQUIPMENT RECORDS PAGE *****/
/***** CSS STYLES EQUIPMENT RECORDS PAGE *****/
.statistics__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.statistics__header-description-title, .statistics__header-description-paragraph {
  margin: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.statistics__header-description-paragraph {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .statistics__header-description-paragraph {
    width: 80%;
  }
}
.statistics__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
}
@media only screen and (max-width: 1600px) {
  .statistics__main-content {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 1600px) {
  .statistics__main-content-line-chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.statistics__main-content-line-chart #googleDataChart {
  width: 56.25rem !important;
}
@media only screen and (max-width: 992px) {
  .statistics__main-content-line-chart #googleDataChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .statistics__main-content-line-chart #googleDataChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem !important;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content-line-chart #googleDataChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.5625rem !important;
  }
}
@media only screen and (max-width: 425px) {
  .statistics__main-content-line-chart #googleDataChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.4375rem !important;
  }
}
@media only screen and (max-width: 375px) {
  .statistics__main-content-line-chart #googleDataChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.3125rem !important;
  }
}
@media only screen and (max-width: 1400px) {
  .statistics__main-content-table {
    margin-top: 1.25rem;
  }
}
.statistics__main-content-table__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .statistics__main-content-table__button {
    flex-direction: column !important;
  }
}
.statistics__main-content-table__button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  width: 12.5rem;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content-table__button .btn {
    width: 11.5833333333rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content-table__button .btn {
    width: 14.375rem;
  }
}
.statistics__main-content-table__button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
  color: #FFFFFF;
}
.statistics__main-content .container-form {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-form .input-group {
    flex-direction: column !important;
  }
}
.statistics__main-content .container-form .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
@media only screen and (max-width: 992px) {
  .statistics__main-content .container-form .input-group .input-group-text {
    width: 100% !important;
  }
}
.statistics__main-content .container-form .input-group .input-sensor-id, .statistics__main-content .container-form .input-group .input-sensor-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 3.125rem;
}
.statistics__main-content .container-form .input-group .input-sensor-id {
  border-radius: 0rem !important;
}
.statistics__main-content .container-form .input-group .form-select, .statistics__main-content .container-form .input-group .form-control {
  font-size: 1.125rem;
  margin-left: 0rem !important;
  height: 3.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-form .input-group .form-select, .statistics__main-content .container-form .input-group .form-control {
    width: 100% !important;
    margin-left: 0rem !important;
  }
}
.statistics__main-content .container-form .input-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.statistics__main-content .container-form .input-group-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
}
.statistics__main-content .container-form .input-group-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
}
.statistics__main-content .container-table .table {
  margin-bottom: 0rem;
  width: 37.5rem;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table {
    width: 34.75rem;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .container-table .table {
    width: 25.3125rem;
  }
}
@media only screen and (max-width: 425px) {
  .statistics__main-content .container-table .table {
    width: 22.1875rem;
  }
}
@media only screen and (max-width: 375px) and (max-width: 320px) {
  .statistics__main-content .container-table .table {
    width: 19.375rem;
  }
}
.statistics__main-content .container-table .table--standard {
  border-collapse: collapse;
  table-layout: fixed;
}
.statistics__main-content .container-table .table .table-head, .statistics__main-content .container-table .table .table-body {
  padding: 0.375rem;
  border: 0.0625rem solid #CCCCCC;
}
.statistics__main-content .container-table .table .table-head__cell, .statistics__main-content .container-table .table .table-body__cell {
  padding-top: 0.125rem;
  padding-right: 0.25rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  height: 3.125rem;
}
.statistics__main-content .container-table .table .table-head__typography, .statistics__main-content .container-table .table .table-body__typography {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;
  padding: 0rem;
  height: 2.125rem;
  width: 100%;
  font-size: 1rem;
  text-indent: 0rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-head {
    display: none !important;
  }
}
.statistics__main-content .container-table .table .table-head__cell {
  border: 0.0625rem solid #808080;
  background-color: #333333;
  color: #FFFFFF;
  font-weight: bold;
}
.statistics__main-content .container-table .table .table-head__typography {
  font-size: 1.125rem;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block !important;
    border-width: 0rem;
    padding: 0rem;
  }
}
.statistics__main-content .container-table .table .table-body__cell {
  border: 0.0625rem solid #808080;
  background-color: #FFFFFF;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-body__cell:before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    border-right-width: 0.0625rem;
    border-right-style: solid;
    border-right-color: #808080;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    height: 3.125rem;
    width: 30%;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .container-table .table .table-body__cell:before {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 50%;
  }
}
.statistics__main-content .container-table .table .table-body__typography {
  height: 2.25rem;
  font-size: 1.125rem;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-body__typography {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    height: 3.125rem;
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .container-table .table .table-body__typography {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .container-table .table .table-body__typography {
    text-align: center;
  }
}
.statistics__main-content .container-table .table .table-body .table-body-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem !important;
  margin-right: 0rem;
  margin-bottom: 0.5rem !important;
  margin-left: 0rem;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 70%;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .container-table .table .table-body .table-body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 50%;
  }
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn {
  padding-top: 0.125rem;
  padding-right: 0.25rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn__text {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  text-indent: 0rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-overflow: hidden;
  text-transform: normal;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  user-select: none;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--success, .statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--warning, .statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--danger {
  border-width: 0rem;
  text-decoration: none;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--success {
  color: #000000;
  background-color: #28A745;
  border-color: #28A745;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--warning {
  color: #000000;
  background-color: #FFC107;
  border-color: #FFC107;
}
.statistics__main-content .container-table .table .table-body .table-body-form__actions__btn--danger {
  color: #000000;
  background-color: #DC3545;
  border-color: #DC3545;
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table .table-body tr td {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .statistics__main-content .container-table .table .table-body tr td:nth-of-type(1):before {
    content: "EQUIPMENT VALUE";
  }
  .statistics__main-content .container-table .table .table-body tr td:nth-of-type(2):before {
    content: "EQUIPMENT DATE";
  }
  .statistics__main-content .container-table .table .table-body tr td:nth-of-type(3):before {
    content: "ACTIONS";
  }
}
@media only screen and (max-width: 768px) {
  .statistics__main-content .container-table .table table, .statistics__main-content .container-table .table thead, .statistics__main-content .container-table .table tbody, .statistics__main-content .container-table .table th, .statistics__main-content .container-table .table td, .statistics__main-content .container-table .table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block !important;
  }
}
.statistics__main-content .pagination {
  margin-bottom: 0rem !important;
}
.statistics__main-content .pagination .page-item {
  width: 2.884375rem;
  border-style: 0rem solid #808080;
}
@media only screen and (max-width: 576px) {
  .statistics__main-content .pagination .page-item {
    width: 1.9471153846rem;
  }
}
@media only screen and (max-width: 425px) {
  .statistics__main-content .pagination .page-item {
    width: 1.7067307692rem;
  }
}
@media only screen and (max-width: 375px) and (max-width: 320px) {
  .statistics__main-content .pagination .page-item {
    width: 1.4903846154rem;
  }
}
.statistics__main-content .pagination .page-item .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #808080;
  color: #000000;
  font-weight: bold;
}
@media only screen and (max-width: 425px) {
  .statistics__main-content .pagination .page-item .page-link {
    font-weight: normal;
  }
}
.statistics__main-content .pagination .page-item .page-link:hover {
  background-color: #9AC2FE;
}
.statistics__main-content .pagination .page-item .page-link {
  border-radius: 0rem !important;
}
.statistics__main-content .pagination .page-item.active .page-link {
  color: #FFFFFF;
}
.statistics-create-record__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.statistics-create-record__header-description-title {
  margin: 0rem;
  text-align: center;
}
.statistics-create-record__header-description-paragraph {
  text-align: center;
}
.statistics-create-record__header__form, .statistics-create-record__header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 320px) {
  .statistics-create-record__header__form, .statistics-create-record__header__body {
    height: auto;
  }
}
.statistics-create-record__form .container-form .input-group {
  margin-bottom: 1.25rem;
}
.statistics-create-record__form .container-form .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.statistics-create-record__form .container-form .input-group .input-sensor-id, .statistics-create-record__form .container-form .input-group .input-sensor-description, .statistics-create-record__form .container-form .input-group .input-sensor-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}
.statistics-create-record__form .container-form .input-group .form-control {
  margin-left: 0rem !important;
  font-size: 1.125rem;
  height: 3.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.statistics-create-record__form .container-form .input-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-create-record__form .container-form .input-group-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
}
.statistics-create-record__form .container-form .input-group-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
}
@media only screen and (max-width: 576px) {
  .statistics-create-record__form .container-form {
    width: 29.0625rem;
  }
}
@media only screen and (max-width: 475px) {
  .statistics-create-record__form .container-form {
    width: 25.9375rem;
  }
}
@media only screen and (max-width: 375px) {
  .statistics-create-record__form .container-form {
    width: 19.375rem;
  }
}
@media only screen and (max-width: 320px) {
  .statistics-create-record__form .container-form {
    width: 18.75rem;
  }
}
.statistics-edit-record__header {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.statistics-edit-record__header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.statistics-edit-record__header-description-title, .statistics-edit-record__header-description-paragraph {
  margin: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.statistics-edit-record__header-description-paragraph {
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  .statistics-edit-record__header-description-paragraph {
    width: 80%;
  }
}
.statistics-edit-record__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
@media only screen and (max-width: 320px) {
  .statistics-edit-record__form {
    height: auto;
  }
}
.statistics-edit-record__form .container-form {
  width: 37.5rem;
}
.statistics-edit-record__form .container-form .input-group {
  margin-bottom: 1.25rem;
}
.statistics-edit-record__form .container-form .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.statistics-edit-record__form .container-form .input-group .input-sensor-id, .statistics-edit-record__form .container-form .input-group .input-sensor-description, .statistics-edit-record__form .container-form .input-group .input-sensor-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}
.statistics-edit-record__form .container-form .input-group .input-sensor-notes {
  resize: none;
  height: 15.625rem !important;
}
.statistics-edit-record__form .container-form .input-group .form-control {
  margin-left: 0rem !important;
  font-size: 1.125rem;
  height: 3.125rem;
  padding: 0.25rem;
  border-radius: 0rem;
}
.statistics-edit-record__form .container-form .input-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.statistics-edit-record__form .container-form .input-group-button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
  height: 3.125rem;
  font-size: 1.125rem;
  border-radius: 0rem;
}
.statistics-edit-record__form .container-form .input-group-button .btn .fas {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  font-size: 1.125rem;
}
@media only screen and (max-width: 576px) {
  .statistics-edit-record__form .container-form {
    width: 29.0625rem;
  }
}
@media only screen and (max-width: 475px) {
  .statistics-edit-record__form .container-form {
    width: 25.9375rem;
  }
}
@media only screen and (max-width: 375px) {
  .statistics-edit-record__form .container-form {
    width: 19.375rem;
  }
}
@media only screen and (max-width: 320px) {
  .statistics-edit-record__form .container-form {
    width: 18.75rem;
  }
}

/***** UTILITIES FUNCTIONS & MIXINS *****/
/* 
    Import here all the utilities functions and mixins.
    Here you may include:
    - flexbox;
    - fonts;
    - global functions (pixels to rem convertor);
    - global variables (base padding and margin dimensions);
    - themes
*/
@font-face {
  font-family: "OpenSans Condensed Bold";
  src: url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light";
  src: url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans Condensed Light Italic";
  src: url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf"), url("../../../../../fonts/OpenSansCondensed-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold";
  src: url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Bold Italic";
  src: url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Italic";
  src: url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Serif Regular";
  src: url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf"), url("../../../../../fonts/PTSerif-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../../../../../fonts/Roboto-Black.ttf") format("ttf"), url("../../../../../fonts/Roboto-Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black Italic";
  src: url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BlackItalic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../../../../fonts/Roboto-Bold.ttf") format("ttf"), url("../../../../../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../../../../../fonts/Roboto-Italic.ttf") format("ttf"), url("../../../../../fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../../../../../fonts/Roboto-Light.ttf") format("ttf"), url("../../../../../fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light Italic";
  src: url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-LightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../../../../fonts/Roboto-Medium.ttf") format("ttf"), url("../../../../../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../../../../fonts/Roboto-Regular.ttf") format("ttf"), url("../../../../../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../../../../../fonts/Roboto-Thin.ttf") format("ttf"), url("../../../../../fonts/Roboto-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf"), url("../../../../../fonts/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/***** COLOR THEME 1: CLOSE TO NATURE *****/
/**** COLOR THEME 2: LAND OF CLEAN *****/
/**** COLOR THEME 3: MINIMAL YET WARM *****/
body {
  background-color: #EAE7DC;
  font-family: "PT Serif Regular";
}

/*# sourceMappingURL=app.css.map */
