// Color Theme Variables: Close to Nature.
    $close_to_nature: (
        primary_colors: (
            color_finlandia:         #687864,
            color_astral:            #31708E,
            color_air_force_blue:    #5085A5,
            color_cornflower:        #8FC1E3,
            color_alice_blue:        #F7F9FB,
        ),
        secondary_colors: (
            color_login_btn:         #E85A4F,
            color_register_btn:      #5A4FE8,
            color_back_to_login_btn: #E85A4F,
            color_reset_password_btn:#5A4FE8,
        ),
        monochromatic_colors: (
            color_black:             #000000,
            color_gray:              #808080,
            color_white:             #FFFFFF,      
        ),
    );

    @function index-to-key($index) {
        $keys: map-keys($close_to_nature);
        @return nth($keys, $index);
    }