// Color Theme Variables: The Land of Clean.
$land_of_clean: (
    color_highball:       #8D8741,
    color_shakespeare:    #659DBD,
    color_calico:         #DAAD86,
    color_fallow:         #BC986A,
    color_oasis:          #FBEEC1,
);