// Color Theme Variables: Minimal Yet Warm.
    $minimal_yet_warm: (
        primary_colors: (
            color_narvik:            #EAE7DC,
            color_raffia:            #D8C3A5,
            color_heathered_gray:    #8E8D8A,
            color_geraldine:         #E98074,
            color_flamingo:          #E85A4F,
        ),
        secondary_colors: (
            color_login_btn:         #E85A4F,
            color_register_btn:      #5A4FE8,
            color_back_to_login_btn: #E85A4F,
            color_reset_password_btn:#5A4FE8,
        ),
        monochromatic_colors: (
            color_black:             #000000,
            color_gray:              #808080,
            color_white:             #FFFFFF,      
        ),
    );

    @function index-to-key($index) {
        $keys: map-keys($minimal_yet_warm);
        @return nth($keys, $index);
    }