@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('OpenSansCondensed-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('OpenSansCondensed-Light.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed Light Italic';
    src: url('OpenSansCondensed-LightItalic.ttf');
}