@font-face {
    font-family: 'OpenSans Condensed Bold';
    src: url('../../../../../fonts/OpenSansCondensed-Bold.ttf') format('ttf'),
        url('../../../../../fonts/OpenSansCondensed-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans Condensed Light';
    src: url('../../../../../fonts/OpenSansCondensed-Light.ttf') format('ttf'),
        url('../../../../../fonts/OpenSansCondensed-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans Condensed Light Italic';
    src: url('../../../../../fonts/OpenSansCondensed-LightItalic.ttf') format('ttf'),
        url('../../../../../fonts/OpenSansCondensed-LightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}