// Basic Colors
$basic_colors: (
    color_black:               #000000,
    color_black_olive:         #404040,
    color_gray:                #808080,
    color_argent:              #BFBFBF,
    color_white:               #FFFFFF,
    color_red:                 #FF0000,
    color_orange:              #FF7F00,
    color_yellow:              #FFFF00,
    color_green:               #00FF00,
    color_blue:                #0000FF,
    color_indigo:              #2E2B5F,
    color_violet:              #8B00FF,
);