$base_font_size:        16px;
$base_margin_top:       8px;
$base_margin_right:     8px;
$base_margin_bottom:    8px;
$base_margin_left:      8px;
$base_padding_top:      8px;
$base_padding_right:    8px;
$base_padding_bottom:   8px;
$base_padding_left:     8px;