.navbar {
    background-color: map-get($color_theme3, "color_raffia") !important;
    user-select: none;
    &-nav {
        & .nav-item {
            & .nav-link {
                color: map-get($basic_colors, "color_black");
                & span {
                    color: map-get($basic_colors, "color_black");
                    font-weight: bold;
                }
            }
            & .dropdown-menu {
                clip-path: polygon(50% 0%, 56% 7%, 100% 7%, 100% 100%, 0 100%, 0 7%, 42% 7%);
                padding: rem-convertor(16px) 0rem 0rem 0rem;
                background-color: map-get($color_theme3, "color_raffia");
                border-top: 0rem !important;
                & .dropdown-item {
                    color: map-get($basic_colors, "color_black");
                    &:first-child {
                        &:active, &:focus, &:hover {
                            background-color: map-get($color_theme3, "color_raffia") !important
                        }
                    }
                    & span {
                        color: map-get($basic_colors, "color_black");
                        font-weight: bold;
                    }
                    &:active, &:focus, &:hover {
                        background-color: map-get($color_theme3, "color_narvik") !important
                    }
                }
            }
        }
    }
}