/**** COLOR THEME 2: LAND OF CLEAN *****/

$color_theme2: (
    color_highball:       #8D8741,
    color_shakespeare:    #659DBD,
    color_calico:         #DAAD86,
    color_fallow:         #BC986A,
    color_oasis:          #FBEEC1,
);