/***** COLOR THEME 1: CLOSE TO NATURE *****/

$color_theme1: (
    color_finlandia:         #687864,
    color_astral:            #31708E,
    color_air_force_blue:    #5085A5,
    color_cornflower:        #8FC1E3,
    color_alice_blue:        #F7F9FB,
    color_login_btn:         #E85A4F,
    color_register_btn:      #5A4FE8,
    color_back_to_login_btn: #E85A4F,
    color_reset_password_btn:#5A4FE8,
);