/**** COLOR THEME 3: MINIMAL YET WARM *****/

$color_theme3: (
    color_narvik:            #EAE7DC,
    color_raffia:            #D8C3A5,
    color_heathered_gray:    #8E8D8A,
    color_geraldine:         #E98074,
    color_flamingo:          #E85A4F,
    color_login_btn:         #E85A4F,
    color_register_btn:      #5A4FE8,
    color_back_to_login_btn: #E85A4F,
    color_reset_password_btn:#5A4FE8,
);