@import '../../functions/_global_functions';

@mixin all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width) {
    @if 
    $var_border_top_width != 0px and ($var_border_bottom_width == 0px and $var_border_right_width == 0px and $var_border_left_width == 0px) {
        border#{-top}-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border#{-top}-style: solid;
        border#{-top}-color: #000000;
    }
    @else if
    $var_border_right_width != 0px and ($var_border_bottom_width == 0px and $var_border_top_width == 0px and $var_border_left_width == 0px) {
        border#{-right}-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border#{-right}-style: solid;
        border#{-right}-color: #000000;
    }
    @else if
    $var_border_bottom_width != 0px and ($var_border_right_width == 0px and $var_border_top_width == 0px and $var_border_left_width == 0px) {
        border#{-bottom}-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border#{-bottom}-style: solid;
        border#{-bottom}-color: #000000;
    }
    @else if
    $var_border_left_width != 0px and ($var_border_right_width == 0px and $var_border_top_width == 0px and $var_border_bottom_width == 0px) {
        border#{-left}-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border#{-left}-style: solid;
        border#{-left}-color: #000000;
    }
    @else if
    ($var_border_top_width == $var_border_bottom_width and $var_border_top_width != 0px and $var_border_bottom_width != 0px) and
    ($var_border_right_width == $var_border_left_width and $var_border_right_width == 0px and $var_border_left_width == 0px) {
        border-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border-style: solid;
        border-color: #000000;
    }
    @else if
    ($var_border_top_width == $var_border_bottom_width and $var_border_top_width == 0px and $var_border_bottom_width == 0px) and
    ($var_border_right_width == $var_border_left_width and $var_border_right_width != 0px and $var_border_left_width != 0px) {
        border-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border-style: solid;
        border-color: #000000;
    }
    @else if
    $var_border_top_width == 0px and $var_border_bottom_width == 0px and $var_border_right_width == 0px and $var_border_left_width == 0px {
        border-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
    }
    @else if
    ($var_border_top_width != 0px and $var_border_bottom_width != 0px and $var_border_right_width != 0px and $var_border_left_width != 0px) and
    ($var_border_top_width == $var_border_bottom_width and $var_border_top_width == $var_border_right_width and $var_border_top_width == $var_border_left_width) {
        border-width: all-border($var_border_top_width, $var_border_right_width, $var_border_bottom_width, $var_border_left_width);
        border-style: solid;
        border-color: #000000;
    }
}