@import '../../functions/_global_functions';

@mixin all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left) {
    @if 
    $var_margin_top != 0px and ($var_margin_right == 0px and $var_margin_bottom == 0px and $var_margin_left == 0px) {
        margin#{-top}: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left);
        margin#{-bottom}: rem-convertor(0px);
    }
    @else if 
    $var_margin_right != 0px and ($var_margin_top == 0px and $var_margin_bottom == 0px and $var_margin_left == 0px) {
        margin#{-right}: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left);
        margin#{-top}: rem-convertor(0px);
        margin#{-bottom}: rem-convertor(0px);
    }
    @else if 
    $var_margin_bottom != 0px and ($var_margin_right == 0px and $var_margin_top == 0px and $var_margin_left == 0px) {
        margin#{-bottom}: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left);
        margin#{-top}: rem-convertor(0px);
    }
    @else if 
    $var_margin_left != 0px and ($var_margin_right == 0px and $var_margin_bottom == 0px and $var_margin_top == 0px) {
        margin#{-left}: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left);
        margin#{-top}: rem-convertor(0px);
        margin#{-bottom}: rem-convertor(0px);
    }
    @else if 
    $var_margin_top == 0px and $var_margin_right == 0px and $var_margin_bottom == 0px and $var_margin_left == 0px {
        margin: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left)
    }
    @else if 
    $var_margin_top != $var_margin_bottom and $var_margin_right != $var_margin_left or 
    $var_margin_top > 0px and $var_margin_right > 0px and $var_margin_bottom > 0px and $var_margin_left > 0px {
        margin: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left)
    }
    @else if
    ($var_margin_top != 0px and $var_margin_bottom != 0px and $var_margin_right != 0px and $var_margin_left != 0px) and
    ($var_margin_top == $var_margin_bottom and $var_margin_top == $var_margin_right and $var_margin_top == $var_margin_left) {
        margin: all-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left);
    }
}
@mixin horizontal-vertical-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left) {
    @if 
    ($var_margin_top == $var_margin_bottom and $var_margin_top != 0px and $var_margin_bottom != 0px) and 
    ($var_margin_right == $var_margin_left and $var_margin_right != 0px and $var_margin_left != 0px) {
        margin: horizontal-vertical-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left)
    }
    @else if
    ($var_margin_top == $var_margin_bottom and $var_margin_top == 0px and $var_margin_bottom == 0px) and
    ($var_margin_right == $var_margin_left and $var_margin_right != 0px and $var_margin_left != 0px) {
        margin: horizontal-vertical-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left)
    }
    @else if
    ($var_margin_top == $var_margin_bottom and $var_margin_top != 0px and $var_margin_bottom != 0px) and
    ($var_margin_right == $var_margin_left and $var_margin_right == 0px and $var_margin_left == 0px) {
        margin: horizontal-vertical-margin($var_margin_top, $var_margin_right, $var_margin_bottom, $var_margin_left)
    }
}