@mixin flex-center-right-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin flex-center-right-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin flex-center-right-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}