@import '../../functions/_global_functions';
@import '../../variables/_base_dimensions.scss';
@import '../../mixin/_global_mixin.scss';
@import '_standard-typography';

@mixin h2-typography {
    @include horizontal-vertical-margin(10px, 0px, 10px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    width: 100%;
    @include height(30px);
    @include standard-typography();
    font-size: font-size(25px);
    text-align: center;
    text-indent: text-indent(0px);
}