@import '../../functions/_global_functions';
@import '../../variables/_base_dimensions.scss';
@import '../../mixin/_global_mixin.scss';
@import '_standard-typography';

@mixin h4-typography {
    @include horizontal-vertical-margin(11px, 0px, 11px, 0px);
    @include all-padding(0px, 0px, 0px, 0px);
    width: 100%;
    @include height(18px);
    @include standard-typography();
    font-size: font-size(16px);
    text-align: center;
    text-indent: text-indent(0px);
}