@mixin standard-typography {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
}