@font-face {
    font-family: 'PT Serif Bold';
    src: url('../../../../../fonts/PTSerif-Bold.ttf') format('ttf'),
        url('../../../../../fonts/PTSerif-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif Bold Italic';
    src: url('../../../../../fonts/PTSerif-BoldItalic.ttf') format('ttf'),
        url('../../../../../fonts/PTSerif-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif Italic';
    src: url('../../../../../fonts/PTSerif-Italic.ttf') format('ttf'),
        url('../../../../../fonts/PTSerif-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PT Serif Regular';
    src: url('../../../../../fonts/PTSerif-Regular.ttf') format('ttf'),
        url('../../../../../fonts/PTSerif-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}